# Why you should use Jupyter Notebook?
- Interactive 
- Execute code or markdown in the same page 
- Visualize data in a very simple and efficient manner  
* Easy to learn syntax  
* Best way to describe a project

# Why Python ? 
Python is a high-level language means that it has easy to understand syntax, and overall it is one of the best languages for beginners wanting to start their programming journey.

Python has been gaining popularity in the last few years and it has been at the top of the charts for being the most learned languaes for few years now. 

Python has a wide variety of high end library support which in turn generates a huge potential of application in various fields like web devlopment, game devlopment, data science etc.

But we're gonna be learning python mainly for Machine learning, and this is important to note because you won't need indepth knowledge of python for machine learning, ofcourse it isn't the same if you wanna become a python developer.


### Why python is best for Machine Learning?
1. Python is easy to use/ Easy to learn
2. Shorter source code 
3. Multiple Libraries like : Numpy , Pandas , matplotlb , seaborn, scikit-lern, pyTorch , Tensorflow , Keras etc.
4. Community support

# 1. Variables And DataTypes

Python has the following data types : 
- Integer 
- Float 
- String 
- Boolean

We'll be using an inbuilt function i.e type() to find the types of data types used.

In [3]:
type(1)

int

In [4]:
type(1) , type(1.0) , type('I'), type('I am ') , type('32425'), type(True)

(int, float, str, str, str, bool)

In [8]:
# Now we will use the most used function and the most common built in fuction in python 
print('I am out')

I am out

**Let's see how we can use print statement with a bit more formating**

In [20]:
# variable assignment 
a = 16
b = 'Name'
c = 17.2020
d = True

type(a), type(b) , type(c) , type(d)

(int, str, float, bool)

In [4]:
name = 'Rajesh'
job = 'student'
hobby = 'reading'
age = 12.0000

print('My name is {}, I am a {} and currently I am {:.1f}y/o .I like {}'.format(name , job,age , hobby))

print("My name is {first}, I am a {second} and I like {third}".format(first= name , second = job, third =hobby))

My name is Rajesh, I am a student and currently I am 12.0y/o .I like reading
My name is Rajesh, I am a student and I like reading

# 2. Logic and Boolean statements
- Logical and/or
- Conditional statements
- Loops

#### Logical and

In [26]:
print(True and True) # and - this thing and thing 
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

#### Logical OR

In [14]:
print(True or True) # if you get a B+ or you get a a+ then you win 
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### Some in-built functions for strings:

In [13]:
name = 'Yagyesh'

print(name.isalnum()) # contains both alphabets and numerical values then True
print(name.isalpha())
print(name.isspace())

True
True
False

In [46]:
str1 = '123123'
str2 = 'Yagyesh '
print(str1.isnumeric())
print(str2.isalpha())

str1.isnumeric() and str2.isalpha() # True and False

True
False

False

### Conditional Statement
This is a very useful method that you're going to end up using almost every time.

if (condition) :  
    statements

In [17]:
if (True) :
    print('True')

True

In [24]:
str1 = 'Yagyesh'

if (str1.isalpha()) :
    print('the string contains only alpha values')
else: 
    print('the string dosen\' have only numeric values')

the string contains only alpha values

In [28]:
# elif or else if 
num = 100

if (num < 10) :
    print('The input is less than 10')

elif (num>10) :
    print('The input is greater than 10')
elif(num == 10) :
    print('The input is equal to 10')
#else :
#   print('the input is equal to 10')

The input is greater than 10

### Looping 
- repeating a same thing number of times

1. For loops

In [30]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
for i in range(10) :
    print(i , end=' ')
    print('{}th loop'.format(i + 1))

0 1th loop
1 2th loop
2 3th loop
3 4th loop
4 5th loop
5 6th loop
6 7th loop
7 8th loop
8 9th loop
9 10th loop

### 2. While Loop

while (condition) :  
    statement 1  
    statement 2   
    ...  
    statement n

In [47]:
i=0
while (i < 5):
    print(i) 
    i+=1

0
1
2
3
4

# 3. Python Data Structures
- Lists
- Comparison operators
- Dictionaries
- Tuples 
- Sets

# Lists
- Mutable 
- elements or objects or variables in a list are called **item**
- They are defined by values enclosed within squared brackets **[]**

In [48]:
print(type([]))
print(type([1, 2, 3]))
print(type([1 , 2.0 ,'sakdfjl' , True]))

<class 'list'>
<class 'list'>
<class 'list'>

#### Indexing And Parsing in lists

![Title](https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.learnbyexample.org%2Fwp-content%2Fuploads%2Fpython%2FString-Indexing.png&imgrefurl=https%3A%2F%2Flaptrinhx.com%2Fwhat-is-the-string-in-python-1993338928%2F&tbnid=j3Ho-7YNIQHxhM&vet=10CAkQxiAoBmoXChMIoLO67Nua9AIVAAAAAB0AAAAAEAY..i&docid=ws4uDJEpl_nrEM&w=609&h=145&itg=1&q=indexing%20list%20in%20python&ved=0CAkQxiAoBmoXChMIoLO67Nua9AIVAAAAAB0AAAAAEAY)

In [78]:
ls1= ['p' , '1' , 1 , 'q' , True]

print(ls1[0])

p

In [70]:
ls1[2]

1

In [71]:
ls1[0:4] , ls1[:]

(['p', '1', 1, 'q'], ['p', '1', 1, 'q', True])

#### Some in-built functions for list

In [72]:
print(ls1)
ls1.append('s')
print(ls1)

['p', '1', 1, 'q', True]
['p', '1', 1, 'q', True, 's']

In [79]:
print(ls1)
ls1.append(['s' , 't'])
print(ls1)
ls1.extend(['s' , 't'])
print(ls1)

['p', '1', 1, 'q', True]
['p', '1', 1, 'q', True, ['s', 't']]
['p', '1', 1, 'q', True, ['s', 't'], 's', 't']

In [82]:
ls1.insert(2,14)
ls1

['p', '1', 14, 1, 'q', True, ['s', 't'], 's', 't']

In [83]:
ls1.pop(2) # pop will remove the last element if the index is not present
ls1

['p', '1', 1, 'q', True, ['s', 't'], 's', 't']

In [84]:
ls1.count(1)

2

In [87]:
ls1.index(1 ,0,len(ls1))

2

In [88]:
# min()
# max()
# sum()

In [90]:
 ls1 * 2

['p',
 '1',
 1,
 'q',
 True,
 ['s', 't'],
 's',
 't',
 'p',
 '1',
 1,
 'q',
 True,
 ['s', 't'],
 's',
 't']

# Dictionaries
- it is an unordered collection
- comprises of **key-value pairs**
- represented within curly braces

In [12]:
dic = { 'name' : 'yagyesh' , 'age': 12 , 'hobby' : 'content creation'}
type(dic)

dict

In [52]:
dic['age'] = 17
dic

{'name': 'yagyesh', 'age': 17, 'hobby': 'content creation'}

In [53]:
# how to access elements inside a dictionary 
print(dic['name'])
print(dic['age'])

print('My name is {} and I am {} y/o.'.format(dic['name'] , dic['age']))

yagyesh
17
My name is yagyesh and I am 17 y/o.

In [54]:
for i in dic :
    print(i , end=' ') 
    print(dic[i])

# for keys in dic.values() :
#     print(keys)

# for pair in dic.items():
#     print(pair)

# for (key, value) in dic.items() :
#     print ('{}  => {}'.format(key,value))

name yagyesh
age 17
hobby content creation

**Note** : You cannot access keys with values

In [57]:
# Let's talk a bit about nested dictonaries 
item1 = {'Mango' : "Tasty"}
item2 = {'Chicken' : 'Delecious'}
item3 = {'sandwich': 'edible'}

dict2 = {'item1' : item1, 'item2' :item2 , 'item3' : item3}

print(dict2)

print(dict2['item1'])
print(dict2['item1']['Mango'])

{'item1': {'Mango': 'Tasty'}, 'item2': {'Chicken': 'Delecious'}, 'item3': {'sandwich': 'edible'}}
{'Mango': 'Tasty'}
Tasty

# Tuples
- immutable
- basically the same as list in other functionalities
- represented by using curved brackets

In [58]:
a = tuple()
type(a)

tuple

In [61]:
b = (1 , 2 ,3 )
print(b, type(b))

print(b[0])

(1, 2, 3) <class 'tuple'>
1

In [65]:
x, y, z = b

print(x,y,z)
z= 4
b= (x,y,z)
print(b)

1 2 3
(1, 2, 4)

# Sets
- unordered collection data types
- iterable 
- mutable 
- represented using curly braces
- **has no duplicate element**
NOTE : This is based on data stucture known as hash table

In [1]:
set_var = set()
type(set_var)

set

In [67]:
set_var.add('Hulk')
print(set_var)


set1 = { 1, 2, 3 ,3 }
print(set1)

{'Hulk'}
{1, 2, 3}

In [4]:
# so i want you guys to find functions on sets yourselves and try it out

# Fucntions

# File i/o

# Classes and Objects